/* Add all your styles here */
/* Add all your styles here */

h3
{
  background-color:red;
  font-size:24px;
  color:solid black;
  height:40px;
  padding-top:10px;
}
p
{
 font-size:30px;
}
img
{
 border:2px solid red; 
text-align:center;
}